# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/
.mypy_cache/


# Logs
*.log

# Datasets
data/raw/*.csv